@charset "UTF-8";

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: spaceagecyrillic_regular;
  font-display: swap;
  src: url("../fonts/spaceagecyrillic_regular.woff2") format("woff2"), url("../fonts/spaceagecyrillic_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "SFProDisplay";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SFProDisplay";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "spaceagecyrillic_regular";
  font-size: 3rem;
  line-height: 1;
}

.btn {
  padding: 1.25rem 0rem;
  max-width: 31.25rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-transform: uppercase;
  border: 0.0625rem solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn_mini {
  max-width: 18.75rem;
}

.foreign1 {
  width: 6.3125rem;
  text-align: right;
}

.foreign2 {
  width: 8.375rem;
  text-align: left;
}

.foreign3 {
  width: 17.0625rem;
  text-align: left;
}

.no-webp .header{
  background-image: url("../img/header-bg.jpg"); }

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.header__body {
  padding: 5rem 0rem 9.0625rem 0rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-bottom: clamp( 3.125rem , -34.7259358289rem  +  44.5632798574vw , 18.75rem )) {
  .header__top {
    margin-bottom: clamp( 3.125rem , -34.7259358289rem  +  44.5632798574vw , 18.75rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , -34.7259358289rem  +  44.5632798574vw , 18.75rem )) {
  .header__top {
    margin-bottom: calc(3.125rem + 15.625 * (100vw - 84.9375rem) / 35.0625);
  }
}

.header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 0rem 15rem;
  position: relative;
  z-index: 5;
}

.header__top-link {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  margin: 0rem 1.375rem 0rem 0rem;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.menu-open .header__top-link {
  color: #CB0E0E;
  font-size: 1.5rem;
}

.header__content {
  max-width: 36.875rem;
}

@supports (margin-bottom: clamp( 3.125rem , 1.6964285714rem  +  7.1428571429vw , 7.1875rem )) {
  .header__content {
    margin-bottom: clamp( 3.125rem , 1.6964285714rem  +  7.1428571429vw , 7.1875rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.6964285714rem  +  7.1428571429vw , 7.1875rem )) {
  .header__content {
    margin-bottom: calc(3.125rem + 4.0625 * (100vw - 20rem) / 56.875);
  }
}

.header__content-subtitle {
  font-family: "spaceagecyrillic_regular";
  line-height: 1;
}

@supports (font-size: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
  .header__content-subtitle {
    font-size: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
  .header__content-subtitle {
    font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.header__content-title {
  font-family: "spaceagecyrillic_regular";
  line-height: 1;
  margin: 0rem 0rem 1.25rem 0rem;
}

@supports (font-size: clamp( 3.125rem , 1.8063186813rem  +  6.5934065934vw , 6.875rem )) {
  .header__content-title {
    font-size: clamp( 3.125rem , 1.8063186813rem  +  6.5934065934vw , 6.875rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.8063186813rem  +  6.5934065934vw , 6.875rem )) {
  .header__content-title {
    font-size: calc(3.125rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.header__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 3.125rem 0rem;
}

.header__content-text {
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
  .header__content-text {
    font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
  .header__content-text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
  }
}

.header__content-btn {
  line-height: 1.2083333333;
  text-transform: uppercase;
  border: 0.0625rem solid #fff;
  padding: 0.9375rem 0rem;
  max-width: 36.875rem;
  width: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
  .header__content-btn {
    font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem )) {
  .header__content-btn {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 56.875);
  }
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.875rem;
}

.header__footer-text {
  line-height: 1.2142857143;
  max-width: 10.3125rem;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0rem 1.875rem 0rem 0rem;
}

.menu__link {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.no-webp .about{
  background-image: url("../img/about-bg.jpg"); }

.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@supports (padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .about__body {
    padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .about__body {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .about__title {
    margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .about__title {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.about__items {
  padding: 0rem 0rem 6.25rem 0rem;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
}

@supports (margin-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
  .about__item:not(:last-child) {
    margin-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
  .about__item:not(:last-child) {
    margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
  }
}

.about__item-pic {
  max-width: 31.25rem;
  width: 100%;
}

.about__image {
  padding-bottom: 108%;
}

.about__image_2 {
  padding-bottom: 140%;
}

.about__image_3 {
  padding-bottom: 120%;
}

.about-content {
  max-width: 37.5rem;
}

.about-content__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 0rem 0rem 0.3125rem 0rem;
}

.about-content__subtitle {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #036CCA;
  margin: 0rem 0rem 1.875rem 0rem;
}

.about-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.5625rem;
  margin: 0rem 0rem 3.125rem 0rem;
}

.about-content__text {
  font-size: 1rem;
  line-height: 1.1875;
  max-width: 10.3125rem;
}

.about-content__subtext {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #E5E5E5;
  margin: 0rem 0rem 3.125rem 0rem;
}

.about-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0rem 0rem 1.25rem 0rem;
  border-top: 0.0625rem solid #fff;
  border-bottom: 0.0625rem solid #fff;
  padding: 0.625rem 0rem 0.625rem 0rem;
  position: relative;
}

.about-stats::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  background-color: #fff;
  left: 0;
}

@supports (top: clamp( 2rem , 1.8241758242rem  +  0.8791208791vw , 2.5rem )) {
  .about-stats::after {
    top: clamp( 2rem , 1.8241758242rem  +  0.8791208791vw , 2.5rem );
  }
}

@supports not (top: clamp( 2rem , 1.8241758242rem  +  0.8791208791vw , 2.5rem )) {
  .about-stats::after {
    top: calc(2rem + 0.5 * (100vw - 20rem) / 56.875);
  }
}

.about-stats__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-stats__title {
  line-height: 1.1875;
  padding: 0rem 0rem 0.625rem 0rem;
}

@supports (font-size: clamp( 0.625rem , 0.4931318681rem  +  0.6593406593vw , 1rem )) {
  .about-stats__title {
    font-size: clamp( 0.625rem , 0.4931318681rem  +  0.6593406593vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.4931318681rem  +  0.6593406593vw , 1rem )) {
  .about-stats__title {
    font-size: calc(0.625rem + 0.375 * (100vw - 20rem) / 56.875);
  }
}

.about-stats__text {
  font-weight: 700;
  line-height: 1.1944444444;
  padding: 0.625rem 0rem 0rem 0rem;
}

@supports (font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem )) {
  .about-stats__text {
    font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.8983516484rem  +  1.7582417582vw , 2.25rem )) {
  .about-stats__text {
    font-size: calc(1.25rem + 1 * (100vw - 20rem) / 56.875);
  }
}

.about-stats__subtext {
  font-weight: 700;
  line-height: 1.2142857143;
}

@supports (font-size: clamp( 0.75rem , 0.706043956rem  +  0.2197802198vw , 0.875rem )) {
  .about-stats__subtext {
    font-size: clamp( 0.75rem , 0.706043956rem  +  0.2197802198vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.706043956rem  +  0.2197802198vw , 0.875rem )) {
  .about-stats__subtext {
    font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.no-webp .how{
  background-image: url("../img/how-bg.jpg"); }

.how {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.how__title {
  max-width: 27.5rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .how__title {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .how__title {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .how__title {
    margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .how__title {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 2rem , 1.6483516484rem  +  1.7582417582vw , 3rem )) {
  .how__title {
    font-size: clamp( 2rem , 1.6483516484rem  +  1.7582417582vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.6483516484rem  +  1.7582417582vw , 3rem )) {
  .how__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 56.875);
  }
}

.how__body {
  padding: 0rem 0rem 6.25rem 0rem;
  text-align: center;
}

.how__body svg {
  max-width: 56.25rem;
  width: 100%;
  max-height: 37.5rem;
  height: 100%;
}

.how__body circle,
.how__body text,
.how__body foreignObject {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  font-size: 1.125rem;
}

.no-webp .work{
  background-image: url("../img/work-bg.jpg"); }

.work {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

.work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .work__body {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .work__body {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1.5625rem , 1.0570054945rem  +  2.5274725275vw , 3rem )) {
  .work__title {
    font-size: clamp( 1.5625rem , 1.0570054945rem  +  2.5274725275vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.0570054945rem  +  2.5274725275vw , 3rem )) {
  .work__title {
    font-size: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 56.875);
  }
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.875rem;
}

.work__text {
  max-width: 10.3125rem;
  width: 100%;
  line-height: 1.2142857143;
}

.no-webp .rent{
  background-image: url("../img/rent-bg.jpg"); }

.rent {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .rent__title {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .rent__title {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .rent__title {
    margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .rent__title {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1.875rem , 1.4793956044rem  +  1.978021978vw , 3rem )) {
  .rent__title {
    font-size: clamp( 1.875rem , 1.4793956044rem  +  1.978021978vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4793956044rem  +  1.978021978vw , 3rem )) {
  .rent__title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 56.875);
  }
}

.rent__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-bottom: clamp( 3.125rem , 1.146978022rem  +  9.8901098901vw , 8.75rem )) {
  .rent__body {
    margin-bottom: clamp( 3.125rem , 1.146978022rem  +  9.8901098901vw , 8.75rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.146978022rem  +  9.8901098901vw , 8.75rem )) {
  .rent__body {
    margin-bottom: calc(3.125rem + 5.625 * (100vw - 20rem) / 56.875);
  }
}

.rent__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25rem;
          flex: 0 1 31.25rem;
}

.rent__box {
  margin: 0rem 0rem 1.5625rem 0rem;
  border: 0.0625rem solid #fff;
  padding: 2.8125rem 0rem 2.375rem 0rem;
}

.rent__text {
  font-size: 1.5rem;
  line-height: 1.2083333333;
  text-align: center;
  margin: 0rem 0rem 6.875rem 0rem;
}

.rent__text span {
  color: #CB0E0E;
}

.rent__oldsum {
  line-height: 1.2142857143;
  text-align: right;
  margin: 0rem 0rem 0.9375rem 0rem;
  position: relative;
}

@supports (padding-right: clamp( 0.625rem , -0.8035714286rem  +  7.1428571429vw , 4.6875rem )) {
  .rent__oldsum {
    padding-right: clamp( 0.625rem , -0.8035714286rem  +  7.1428571429vw , 4.6875rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -0.8035714286rem  +  7.1428571429vw , 4.6875rem )) {
  .rent__oldsum {
    padding-right: calc(0.625rem + 4.0625 * (100vw - 20rem) / 56.875);
  }
}

.rent__oldsum::after {
  content: "";
  position: absolute;
  width: 4.0625rem;
  height: 0.125rem;
  background-color: #CB0E0E;
  top: 0.4375rem;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}

@supports (right: clamp( 0.625rem , -0.8035714286rem  +  7.1428571429vw , 4.6875rem )) {
  .rent__oldsum::after {
    right: clamp( 0.625rem , -0.8035714286rem  +  7.1428571429vw , 4.6875rem );
  }
}

@supports not (right: clamp( 0.625rem , -0.8035714286rem  +  7.1428571429vw , 4.6875rem )) {
  .rent__oldsum::after {
    right: calc(0.625rem + 4.0625 * (100vw - 20rem) / 56.875);
  }
}

.rent__sum {
  font-size: 3rem;
  line-height: 1.1875;
  text-align: center;
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .services__title {
    margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .services__title {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (font-size: clamp( 1.5rem , 0.9725274725rem  +  2.6373626374vw , 3rem )) {
  .services__title {
    font-size: clamp( 1.5rem , 0.9725274725rem  +  2.6373626374vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.9725274725rem  +  2.6373626374vw , 3rem )) {
  .services__title {
    font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 56.875);
  }
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
}

@supports (margin-bottom: clamp( 6.25rem , 4.0521978022rem  +  10.989010989vw , 12.5rem )) {
  .services__body {
    margin-bottom: clamp( 6.25rem , 4.0521978022rem  +  10.989010989vw , 12.5rem );
  }
}

@supports not (margin-bottom: clamp( 6.25rem , 4.0521978022rem  +  10.989010989vw , 12.5rem )) {
  .services__body {
    margin-bottom: calc(6.25rem + 6.25 * (100vw - 20rem) / 56.875);
  }
}

.services__info {
  max-width: 39.0625rem;
  width: 100%;
}

.services__info-text {
  line-height: 1.2083333333;
  margin: 0rem 0rem 1.5625rem 0rem;
}

@supports (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .services__info-text {
    font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .services__info-text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 56.875);
  }
}

.services__info-list {
  margin: 0rem 0rem 1.5625rem 0rem;
}

.services__info-item {
  line-height: 1.2083333333;
  padding: 0rem 0rem 0rem 1.875rem;
  margin: 0rem 0rem 0.625rem 0rem;
}

@supports (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .services__info-item {
    font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9931318681rem  +  0.6593406593vw , 1.5rem )) {
  .services__info-item {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 56.875);
  }
}

.services__info-item span {
  position: relative;
}

.services__info-item span::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  border-radius: 50%;
  left: -1.875rem;
  top: 0.3125rem;
}

.services__info-subtext {
  font-size: 0.75rem;
  line-height: 1.1666666667;
}

.services__buttons {
  max-width: 31.25rem;
  width: 100%;
  position: relative;
}

.services__image {
  position: absolute;
  top: -8.125rem;
  right: 0.625rem;
}

.services__btn:not(:last-child) {
  margin: 0rem 0rem 3.125rem 0rem;
}

.slider {
  margin: 0rem 0rem 3.125rem 0rem;
  border: 0.0625rem solid #fff;
  padding: 6.25rem 0rem;
  text-align: center;
}

.slider__item {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.slider__image {
  padding-bottom: 56%;
}

.slider__text {
  font-family: "spaceagecyrillic_regular";
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
}

@supports (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .slider__text {
    padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .slider__text {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.slider__arrow-left {
  left: 4.6875rem;
}

.slider__arrow-right {
  right: 4.6875rem;
}

.no-webp .contact{
  background-image: url("../img/contact-bg.jpg"); }

.contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 3.125rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .contact__body {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .contact__body {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .contact__body {
    padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .contact__body {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.contacts {
  max-width: 31.25rem;
  width: 100%;
}

.contacts__title {
  margin: 0rem 0rem 2.8125rem 0rem;
}

@supports (font-size: clamp( 2.5rem , 2.3241758242rem  +  0.8791208791vw , 3rem )) {
  .contacts__title {
    font-size: clamp( 2.5rem , 2.3241758242rem  +  0.8791208791vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.3241758242rem  +  0.8791208791vw , 3rem )) {
  .contacts__title {
    font-size: calc(2.5rem + 0.5 * (100vw - 20rem) / 56.875);
  }
}

.contacts__text {
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .contacts__text {
    margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .contacts__text {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.contacts__input {
  width: 100%;
  margin: 0rem 0rem 1.25rem 0rem;
  background-color: transparent;
  border-bottom: 0.0625rem solid #fff;
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  color: #fff;
  font-size: 1rem;
}

.contacts__input::-webkit-input-placeholder {
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.contacts__input::-moz-placeholder {
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.contacts__input:-ms-input-placeholder {
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.contacts__input::-ms-input-placeholder {
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.contacts__input::placeholder {
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}

.contacts__btn {
  margin: 3.125rem 0rem 0rem 0rem;
}

.guarantees {
  max-width: 37.5rem;
  width: 100%;
}

.guarantees__title {
  margin: 0rem 0rem 2.8125rem 0rem;
}

@supports (font-size: clamp( 2.5rem , 2.3241758242rem  +  0.8791208791vw , 3rem )) {
  .guarantees__title {
    font-size: clamp( 2.5rem , 2.3241758242rem  +  0.8791208791vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.3241758242rem  +  0.8791208791vw , 3rem )) {
  .guarantees__title {
    font-size: calc(2.5rem + 0.5 * (100vw - 20rem) / 56.875);
  }
}

.guarantees__text {
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

.guarantees__image-box {
  max-width: 24.75rem;
  width: 100%;
  margin: 0rem 0rem 0rem 12.75rem;
}

@supports (margin-left: clamp( 1.25rem , -6.4166666667rem  +  15.9722222222vw , 12.75rem )) {
  .guarantees__image-box {
    margin-left: clamp( 1.25rem , -6.4166666667rem  +  15.9722222222vw , 12.75rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , -6.4166666667rem  +  15.9722222222vw , 12.75rem )) {
  .guarantees__image-box {
    margin-left: calc(1.25rem + 11.5 * (100vw - 48rem) / 72);
  }
}

.guarantees__image {
  padding-bottom: 100%;
}

.no-webp .footer{
  background-image: url("../img/footer-bg.jpg"); }

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.875rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .footer__body {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .footer__body {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 4.6875rem , 3.0391483516rem  +  8.2417582418vw , 9.375rem )) {
  .footer__body {
    padding-bottom: clamp( 4.6875rem , 3.0391483516rem  +  8.2417582418vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 4.6875rem , 3.0391483516rem  +  8.2417582418vw , 9.375rem )) {
  .footer__body {
    padding-bottom: calc(4.6875rem + 4.6875 * (100vw - 20rem) / 56.875);
  }
}

.footer__info {
  max-width: 10.3125rem;
  width: 100%;
}

.footer__info-text {
  font-size: 1rem;
  line-height: 1.1875;
  font-family: "Roboto";
}

.footer__info-text:not(:last-child) {
  margin: 0rem 0rem 3.125rem 0rem;
}

.footer__menu-item:not(:last-child) {
  margin: 0rem 0rem 1.25rem 0rem;
}

.footer__menu-link {
  font-size: 1rem;
  line-height: 1.1875;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.footer__more-item:not(:last-child) {
  margin: 0rem 0rem 1.25rem 0rem;
}

.footer__more-link {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.footer__more-link span {
  color: #CB0E0E;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media (max-width: 48em) {
  .guarantees__image-box {
    margin-left: inherit;
  }
}

@media (max-width: 84.9375em) {
  .header__top {
    margin-bottom: inherit;
  }
}

@media (max-width: 84.9375rem) {
  .header__top {
    margin: 0rem 0rem 3.125rem 0rem;
  }
}

@media (max-width: 76.875rem) {
  .about__item {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (max-width: 76.875em) {
  .slider__arrow-left {
    left: 0.9375rem;
  }

  .slider__arrow-right {
    right: 0.9375rem;
  }
}

@media (max-width: 73.375rem) {
  .about__item-pic {
    max-width: 25rem;
  }

  .about-content__inner {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 67.0625rem) {
  .slider__arrow {
    top: 3.125rem;
  }

  .slider__arrow-left {
    left: 12%;
  }

  .slider__arrow-right {
    right: 12%;
  }
}

@media (max-width: 65.1875rem) {
@supports (margin-left: clamp( 1.875rem , -59.3987771739rem  +  114.1304347826vw , 15rem )) {
    .header__top-block {
      margin-left: clamp( 1.875rem , -59.3987771739rem  +  114.1304347826vw , 15rem );
    }
}

@supports not (margin-left: clamp( 1.875rem , -59.3987771739rem  +  114.1304347826vw , 15rem )) {
    .header__top-block {
      margin-left: calc(1.875rem + 13.125 * (100vw - 53.6875rem) / 11.5);
    }
}
}

@media (max-width: 65.1875rem) and (max-width: 53.6875em) {
  .header__top-block {
    margin-left: inherit;
  }
}

@media (max-width: 65.3125rem) {
  .rent__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 62.5rem) {
  .about__item {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }
}

@media (max-width: 61.99875em) {
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__item_rotate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__item-pic {
    margin: 0rem 0rem 3.125rem 0rem;
    max-width: 31.25rem;
  }

  .about-content {
    max-width: 100%;
    width: 100%;
  }

  .about-content__inner {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .work__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .work__title {
      margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .work__title {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

  .work__items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 53.74875em) {
  .header__body {
    padding: 1.875rem 0rem 9.0625rem 0rem;
  }

  .header__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 6.25rem 0rem 0rem 0rem;
    z-index: 1;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4.375rem;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    color: #CB0E0E;
  }

  .menu__item:not(:last-child) {
    margin: 0rem 0rem 1.875rem 0rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #CB0E0E;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) {
  .about-content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-content__text {
    max-width: 100%;
    width: 100%;
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__info {
    max-width: 100%;
    margin: 0rem 0rem 10.625rem 0rem;
  }

  .services__buttons {
    text-align: center;
    margin: 0 auto;
  }

  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts {
    max-width: 100%;
  }

  .contacts__btn {
    max-width: 100%;
  }

  .guarantees {
    max-width: 100%;
  }

  .guarantees__image-box {
    margin: 0 auto;
  }

  .footer__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 38.5rem) {
  .header__content-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 32.9375rem) {
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 29.99875em) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__footer-text {
    max-width: 100%;
  }

  .work__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work__text {
    max-width: 100%;
  }
}

@media (max-width: 65.1875rem) and (min-width: 65.1875em) {
  .header__top-block {
    margin-left: inherit;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    border: 0.0625rem solid #CB0E0E;
    color: #CB0E0E;
  }

  .header__top-link:hover {
    color: #CB0E0E;
  }

  .header__content-btn:hover {
    color: #CB0E0E;
    border: 0.0625rem solid #CB0E0E;
  }

  .menu__link:hover {
    color: #CB0E0E;
  }

  .how__body g:hover text,
  .how__body g:hover foreignObject {
    fill: #036CCA;
    font-size: 1.375rem;
  }

  .how__body g:hover circle {
    fill: #036CCA;
    r: 1.25rem;
  }

  .how__body g:hover .foreign1 {
    color: #036CCA;
    width: 9.375rem;
    padding: 0rem 2.8125rem 0rem 0rem;
  }

  .how__body g:hover .foreign2 {
    color: #036CCA;
    width: 10.625rem;
  }

  .how__body g:hover .foreign3 {
    color: #036CCA;
    width: 20rem;
    font-size: 1.375rem;
  }

  .footer__menu-link:hover {
    color: #CB0E0E;
  }

  .footer__more-link:hover {
    color: #CB0E0E;
  }

  .footer__more-link span:hover {
    color: #fff;
  }
}

.webp .header{ background-image: url(../img/header-bg.webp); }

.webp .about{ background-image: url(../img/about-bg.webp); }

.webp .how{ background-image: url(../img/how-bg.webp); }

.webp .work{ background-image: url(../img/work-bg.webp); }

.webp .rent{ background-image: url(../img/rent-bg.webp); }

.webp .contact{ background-image: url(../img/contact-bg.webp); }

.webp .footer{ background-image: url(../img/footer-bg.webp); }